<main *ngIf="!started">
  <h1>Guess the word !</h1>
  <p>
    A game with tow players, the first word is random by the player A, and then
    the next player have to find a word begining with the last tow letters of
    the previous word.
  </p>
  <label for="player1Input">player 1 name:</label>
  <input
    placeholder="Jack"
    id="player1Input"
    class="form-control"
    type="text"
    [(ngModel)]="player1"
    required
  />
  <label for="player2Input">player 2 name:</label>

  <input
    placeholder="Rose"
    id="player2Input"
    class="form-control"
    type="text"
    [(ngModel)]="player2"
    required
  />

  <button class="btn btn-success m-10" (click)="start()">Play now !</button>
</main>
<main class="container" *ngIf="started">
  <div class="text-center m-10">
    <button class="btn btn-success" (click)="restart()">
      restart the game
    </button>
  </div>
  <hr />
  <div class="d-flex flex-row">
    <div
      [ngClass]="{
      'selPlayer': currentPlayer === player1,
      'player': currentPlayer != player1,

    }"
    >
      {{ player1 }}
    </div>
    <div
      [ngClass]="{
      'selPlayer': currentPlayer === player2,
      'player': currentPlayer != player2,

    }"
    >
      {{ player2 }}
    </div>
  </div>
  <div class="jc bg-light m-10 p-10 br-10">
    <div
      id="counterDiv"
      [ngClass]="{
        'text-center': true,
        'bg-primary': counter > 20,
        'bg-warning': counter <= 20 && counter > 10,
        'bg-danger': counter <= 10
      }"
    >
      {{ counter }}
    </div>
  </div>
  <hr />
  <label for="wordInput">Write a word begining by "{{ end }}" !</label>

  <div class="d-flex flex-row">
    <input
      [(ngModel)]="word"
      id="wordInput"
      style="width: 80%; margin-right: 3px"
      type="text"
      class="form-control"
      placeholder="New word"
    />
    <button class="btn btn-primary" (click)="addWord()">guess</button>
  </div>
  <p id="alertDiv" class="m-10 alert alert-danger text-center">
    {{ alert }}
  </p>
  <hr />
  <div class="d-flex flex-row flex-wrap">
    <span class="m-10" *ngFor="let word of words; let i = index">{{
      i + 1 + "." + word
    }}</span>
  </div>
</main>
<div id="result" class="br-10">
  <div class="text-center">
    And the winner is <ins>{{ winner }}</ins> 🎉🎉
  </div>
  <button class="btn btn-success m-10" (click)="restart()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-clockwise"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"
      />
      <path
        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"
      />
    </svg>
  </button>
</div>
